<div class="card row" hx-swap="outerHTML" hx-target="this"> 
    <div class="col-3">
    <p> Transacation date: {{transaction.date}} </p>
    {% if transaction.exchange %}  <small> Exchange: {{transaction.exchange}} </small> {% endif %}
    {% if transaction.taxable %} <p> <mark> Taxable event </mark> </p> {% endif %}
    <p> 
    <a
    hx-get="{% url 'inline_form' transaction.pk %}"
 
    > Edit </a>
    </p>
    </div>

     <div class="col-3">
    <p> {{transaction.sold_currency_amount|floatformat:2}} {{transaction.sold_currency}} </p>
    {% if transaction.sold_currency_fee %}  <small> Fees: {{transaction.sold_currency_fee|floatformat:2}} {{transaction.sold_currency}}</small>  {% endif %}
    </div>

    <div class="col-3">
    <p>{{transaction.bought_currency_amount|floatformat:2}} {{transaction.bought_currency}} </p>
    {% if transaction.bought_currency_fee %} <small> {{transaction.bought_currency_fee|floatformat:2}} {{transaction.bought_currency}}  </small> {% endif %}
    </div>

    {% include 'components/flip_price_button.html' %}
    {% include 'components/delete_button.html' %}
    {% include 'components/taxable_checkbox.html' %}
</div>
       