{% for transaction in transactions %}
    
    {% include 'components/single_transaction.html'%}
    {% empty %}
        <div class="row card">
            <p> No transactions yet </p>
        </div>
    {% endfor %}
<div class="row justify-content-between">
    {% if transactions.has_next %}
    <button
        class= "btn btn-primary"
        hx-get="/transactions?page={{ transactions.next_page_number }}"
        hx-swap="outerHTML"
        >
        Load More
            <p class="htmx-indicator"> Loading... </p>
</button>
    {% endif %}

<div hx-include="#taxable-form" hx-target="#transactions">
  <a class="btn" hx-post="{% url 'taxable' %}"> Change Taxable Status </a>
</div>
</div>