{% for transaction in transactions %}
    
    {% include 'components/single_transaction.html'%}
    {% empty %}
        <div class="row card">
            <p> No transactions yet </p>
        </div>
    {% endfor %}

    {% if transactions.has_next %}
    <button
        class= "btn btn-primary"
        hx-get="/transactions?page={{ transactions.next_page_number }}"
        hx-swap="outerHTML"
        >
        Load More
            <p class="htmx-indicator"> Loading... </p>
</button>
    {% endif %}